html,
body {
  height: 100%;
}

body,
div {
  border: 1px solid black;
}

body {
  /* 공간에 요소를 맞추어 배치 */
  display: flex;
  /* 넓이를 기준으로 정렬하는 것 */
  justify-content: center;
  /* 높이를 기준으로 정렬하는 것 */
  align-items: center;
  /* 주축을 세로 방향으로 변경 -> 정렬을 세로로 해야할때 쓰면 좋을 듯..? */
  flex-direction: column;
}

div {
  width: 200px;
  height: 200px;
  background-color: tomato;
}

#second {
  background-color: yellow;
}
