@import './global.css';

.find-search-bar-form {
  padding: 0 25px;
}

.find-search-bar-form div {
  width: 100%;
}

.find-search-bar {
  margin-top: 50px;
  background-color: var(--darkPurple);
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.find-search-bar:focus {
  background-color: var(--purple);
}

.find-search-bar-form span {
  position: absolute;
  font: 1rem;
  bottom: 0.4rem;
  right: 4px;
}
