@import './global.css';

html,
body {
  /* html과 css를 요소 영역에 맞추는 속성 방법 */
  overflow: hidden;
}

.login-title {
  text-align: center;
}

.login-title__mainText {
  font-size: 2rem;
  color: var(--purple);
}

.login-title__subText {
  font-size: 0.8rem;
  font-weight: 100;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.login-form input {
  padding: 15px 0;
  margin: 0 10px;
  background-color: var(--background-purple);
  font-size: 1.5rem;
}

.login-form input[type='submit'] {
  color: white;
  background-color: var(--darkPurple);
  border-radius: 1rem;
  margin-top: 2rem;
}

.login-form input[type='submit']:hover {
  background-color: var(--purple);
}

.login-form input:not([type='submit']) {
  color: white;
  border-bottom: 1px solid var(--border);
  transition: border-color 0.3s ease-in-out;
}

.login-form input:focus {
  border-color: white;
}
